<div class="p-8 bg-gray-50 min-h-screen">
  <div class="flex justify-between items-center p-4">
    <h2 class="text-2xl font-bold text-gray-700">Transacciones</h2>
    <button (click)="nuevaTransacciones()"
      class="bg-gray-800 text-white px-5 py-2 rounded-lg hover:bg-gray-700 transition-all flex items-center shadow">
      <span class="mr-2">+</span> Agregar Transacción
    </button>
  </div>

  <div class="p-4">
    <div class="flex justify-between items-center mb-4">
      <div class="w-[400px]">
        <label class="block text-sm font-medium text-gray-600">Seleccionar rango de fechas</label>
        <p-calendar [(ngModel)]="selectedRange" selectionMode="range" dateFormat="dd/MM/yyyy" [showIcon]="true"
          (onSelect)="onDateRangeChange($event)" class="custom-calendar"></p-calendar>
      </div>
      <div class="flex items-center space-x-2">
        <input [(ngModel)]="busqueda" (ngModelChange)="aplicarFiltrosYPaginacion()"
          placeholder="Buscar transacciones..."
          class="px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-gray-200 max-w-sm transition-all" />
      </div>
    </div>

    <div class="flex justify-between items-center mb-4">
      <div class="text-sm font-medium" [ngClass]="{
          'text-green-600': totalTransacciones >= 0,
          'text-red-600': totalTransacciones < 0
        }">
        Disponible Total: {{ totalTransacciones | currency:'USD':'symbol':'1.2-2' }}
      </div>
    </div>

    <!-- Tabla con PrimeNG -->
    <p-table [value]="transaccionesFiltrados" [paginator]="true" [rows]="paginadorRows"
      [totalRecords]="transaccionesFiltrados.length" (onPage)="paginate($event)">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" pSortableColumn="transferencia_id">ID <p-sortIcon field="transferencia_id"
              class="ml-1"></p-sortIcon></th>
          <th class="text-center" pSortableColumn="categoria">Categoría <p-sortIcon
              field="descripcion_categoria"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="monto">Ingreso <p-sortIcon field="monto"></p-sortIcon></th>
          <th class="text-center" pSortableColumn="monto">Gasto <p-sortIcon field="monto"></p-sortIcon></th>
          <th class="text-center" pSortableColumn="descripcion">Descripción <p-sortIcon
              field="descripcion"></p-sortIcon>
          </th>
          <th class="text-center" pSortableColumn="fecha">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
          <th class="text-center">Método</th>
          <th class="text-center">Eliminar</th>
          <th class="text-center">Editar</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transacciones>
        <tr>
          <td class="text-center">{{ transacciones.transferencia_id }}</td>
          <td class="text-center">
            <span class="bg-gray-300 rounded-full px-2 py-1 text-xs font-bold">{{ transacciones.descripcion_categoria
              }}</span>
          </td>
          <td class="text-center text-green-500">
            <ng-container
              *ngIf="transacciones.tipo === 'I' ||
                      (transacciones.tipo === 'T' && transacciones.cuenta_origen_debito && transacciones.cuenta_destino_debito)">
              {{ transacciones.monto | currency:'USD':'symbol':'1.2-2' }}
            </ng-container>
          </td>
          <td class="text-center text-red-500">
            <ng-container
              *ngIf="transacciones.tipo === 'G' ||
                      (transacciones.tipo === 'T' && transacciones.cuenta_origen_debito && transacciones.cuenta_destino_credito && !transacciones.cuenta_destino_debito)">
              - {{ transacciones.monto | currency:'USD':'symbol':'1.2-2' }}
            </ng-container>
          </td>
          <td class="text-center">{{ transacciones.descripcion }}</td>
          <td class="text-center">{{ transacciones.fecha | date: 'dd/MM/yyyy' }}</td>
          <td class="text-center">
            <ng-container *ngIf="transacciones.cuenta_origen_debito?.banco_tarjeta !== 'Efectivo'">
              <fa-icon [icon]="faCreditCard" class="h-4 w-4 text-blue-500"></fa-icon>
            </ng-container>
            <ng-container *ngIf="transacciones.cuenta_origen_debito?.banco_tarjeta === 'Efectivo'">
              <fa-icon [icon]="faMoneyBill1" class="h-4 w-4 text-green-500"></fa-icon>
            </ng-container>
          </td>
          <td class="text-center">
            <button (click)="eliminarTransacciones(transacciones.transferencia_id)" *ngIf="transacciones.tipo === 'T'"
              class="bg-gray-100 px-3 py-1 rounded-lg transition-all hover:bg-gray-200">
              <fa-icon [icon]="faTrash" class="text-sm"></fa-icon>
            </button>
          </td>
          <td class="text-center">
            <button (click)="editarTransacciones(transacciones)" *ngIf="transacciones.tipo === 'T'"
              class="bg-gray-100 px-3 py-1 rounded-lg transition-all hover:bg-gray-200">
              <fa-icon [icon]="faPenToSquare" class="text-sm"></fa-icon>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div class="flex justify-between items-center mt-4">
      <div class="text-sm text-gray-500">
        Mostrando {{ transaccionesFiltrados.length }} de {{ transacciones.length }} transacciones
      </div>
    </div>
  </div>
