<div class="p-8 bg-gray-50 min-h-screen">
  <div class="flex justify-between items-center mb-4">
    <div class="w-[400px]">
      <label class="block text-sm font-medium text-gray-600">Seleccionar rango de fechas</label>
      <p-calendar [(ngModel)]="selectedRange" selectionMode="range" dateFormat="dd/MM/yyyy" [showIcon]="true"
        (onSelect)="onDateRangeChange($event)" class="custom-calendar"></p-calendar>
    </div>
    <div class="flex items-center space-x-2">
      <input [(ngModel)]="busqueda" (ngModelChange)="aplicarFiltrosYPaginacion()" placeholder="Buscar compras..."
        class="px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-gray-200 max-w-sm transition-all" />
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div *ngFor="let compraMes of CompraMesesFiltrados"
      class="bg-gradient-to-br from-gray-50 to-gray-100 rounded-xl p-6 shadow-md hover:shadow-lg transition-shadow">
      <div class="border rounded shadow p-4">
        <div class="flex justify-between items-center">
          <h2 class="text-lg font-semibold mb-4">{{ compraMes.descripcion }}</h2>
          <fa-icon [icon]="faBagShopping" class="h-4 w-4"></fa-icon>
        </div>
        <div>
          <p class="text-2xl font-bold">${{ compraMes.monto_total | number }}</p>
          <p class="text-sm text-gray-500">{{ compraMes.num_meses - compraMes.meses_restantes }} de {{
            compraMes.num_meses }} meses pagados</p>
          <div class="mt-2">
            <div class="w-full bg-gray-200 rounded">
              <div [ngStyle]="{ width: getProgreso(compraMes) + '%' }" class="h-2 bg-blue-500 rounded"></div>
            </div>
          </div>
          <div class="mt-2 flex items-center text-sm text-gray-500">
            <fa-icon [icon]="faCalendar" class="h-4 w-4"></fa-icon>
            Próximo pago: {{ compraMes.proximo_pago | date: 'dd/MM/yyyy' }}
          </div>
        </div>
        <button (click)="detalle(compraMes)" class="mt-4 w-full border border-gray-300 rounded-md py-2 px-4 hover:bg-gray-100">
          Ver detalles
        </button>
      </div>
    </div>
  </div>
</div>
