<div class="p-8 bg-gray-50 min-h-screen">
  <div class="flex justify-between items-center p-4 border-b border-gray-200">
    <h2 class="text-2xl font-bold text-gray-700">Categorías</h2>
    <button (click)="nuevaCategoria()"
      class="bg-gray-800 text-white px-5 py-2 rounded-lg hover:bg-gray-700 transition-all flex items-center shadow">
      <span class="mr-2">+</span> Agregar Categoría
    </button>
  </div>

  <div class="table-container">
    <table class="min-w-full table-auto bg-white rounded-lg shadow-md">
      <thead>
        <tr class="bg-gray-100 border-b">
          <th class="px-4 py-3 text-center text-gray-600 font-semibold">ID</th>
          <th class="px-4 py-3 text-center text-gray-600 font-semibold">Icono</th>
          <th class="px-4 py-3 text-center text-gray-600 font-semibold">Descripción</th>
          <th class="px-4 py-3 text-center text-gray-600 font-semibold">Tipo</th>
          <th class="px-4 py-3 text-center text-gray-600 font-semibold">Eliminar</th>
          <th class="px-4 py-3 text-center text-gray-600 font-semibold">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categoriasPaginadas">
          <td class="px-4 py-2 text-center border-t border-gray-200">{{ categoria.categoria_id }}</td>
          <td class="px-4 py-2 text-center border-t border-gray-200">
            <fa-icon [icon]="getIcon(categoria.img)"></fa-icon>
          </td>
          <td class="px-4 py-2 text-center border-t border-gray-200">{{ categoria.descripcion }}</td>
          <td class="px-4 py-2 text-center border-t border-gray-200">
            <span class="bg-gray-300 rounded-full px-2 py-1 text-xs font-bold">
              {{ categoria.tipo | CategoriasPipe }}
            </span>
          </td>
          <td class="px-4 py-2 text-center border-t border-gray-200">
            <button (click)="eliminarCategoria(categoria.categoria_id)"
              class="bg-gray-100 px-3 py-1 rounded-lg transition-all hover:bg-gray-200">
              <fa-icon [icon]="faTrash" class="text-sm"></fa-icon>
            </button>
          </td>
          <td class="px-4 py-2 text-center border-t border-gray-200">
            <button (click)="editarCategoria(categoria)"
              class="bg-gray-100 px-3 py-1 rounded-lg transition-all hover:bg-gray-200">
              <fa-icon [icon]="faPenToSquare" class="text-sm"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="flex justify-center my-4">
      <p-paginator [rows]="paginadorRows" [totalRecords]="categoriasFiltradas.length" (onPageChange)="paginate($event)"
        styleClass="bg-white shadow-md rounded-lg p-2"></p-paginator>
    </div>

  </div>


  <div class="flex justify-between items-center mt-4">
    <div class="text-sm text-gray-500">
      Mostrando {{ categoriasFiltradas.length }} de {{ categorias.length }} categorías
    </div>
    <div class="space-x-2">
      <!-- Botones de paginación si es necesario -->
    </div>
  </div>
</div>
