<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-70 z-50">
  <div class="bg-white rounded-xl shadow-xl max-w-lg w-full p-8">
    <h2 class="text-2xl font-semibold text-gray-700 mb-6">{{ data.TituloAsigna }}</h2>
    <p class="text-gray-500 mb-6">
      Complete los detalles de la nueva categoría aquí. Haga clic en guardar cuando termine.
    </p>

    <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
      <div class="grid gap-6">

        <div class="grid grid-cols-4 gap-4 items-center">
          <label for="descripcion" class="text-right text-gray-600">Descripción</label>
          <input id="descripcion" type="text" formControlName="descripcion" placeholder="Descripción de la categoría"
            class="col-span-3 border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none transition-all shadow-sm" />
        </div>

        <div class="grid grid-cols-4 gap-4 items-center">
          <label for="tipo" class="text-right text-gray-600">Tipo</label>
          <select id="tipo" formControlName="tipo" class="col-span-3 border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none transition-all shadow-sm">
            <option value="" disabled selected>Seleccione un tipo</option>
            <option value="I">Ingreso</option>
            <option value="G">Gasto</option>
            <option value="A">Ahorro</option>
          </select>
        </div>

        <div class="grid grid-cols-4 gap-4 items-center">
          <label for="img" class="text-right text-gray-600">Icono</label>
          <select id="img" formControlName="img" class="col-span-3 border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none transition-all shadow-sm">
            <option value="" disabled selected>Seleccione un icono</option>
            <option value="faWallet">faWallet</option>
            <option value="faPenToSquare">faPenToSquare</option>
          </select>
        </div>

      </div>

      <div class="flex justify-end mt-8">
        <button type="submit" class="bg-gray-800 text-white px-6 py-2 rounded-lg hover:bg-gray-600 transition-all shadow">
          Guardar
        </button>
        <button type="button" (click)="cancelar()" class="ml-4 bg-gray-600 text-white px-6 py-2 rounded-lg hover:bg-gray-500 transition-all shadow">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
