<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-70 z-50">
  <div class="bg-white rounded-xl shadow-xl max-w-lg w-full p-8">
    <h2 class="text-2xl font-semibold text-gray-700 mb-6">{{ data.TituloAsigna }}</h2>
    <p class="text-gray-500 mb-6">
      Complete los detalles de la nueva categoría aquí. Haga clic en guardar cuando termine.
    </p>

    <form [formGroup]="categoriaForm" class="space-y-6 rounded-lg">
      <div class="relative">
        <input id="descripcion" type="text" formControlName="descripcion" placeholder=" " required
          class="peer border border-gray-300 rounded-lg px-3 py-2 w-full focus:ring focus:ring-gray-200 focus:outline-none transition-all shadow-sm" />
        <label for="descripcion"
          class="absolute text-gray-600 left-3 -top-2.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2.5 peer-focus:-top-2.5 peer-focus:text-sm peer-focus:text-gray-600">
          Descripción de la Categoría
        </label>
      </div>

      <div class="relative">
        <select id="tipo" formControlName="tipo" required
          class="peer border border-gray-300 rounded-lg px-3 py-2 w-full focus:ring focus:ring-gray-200 focus:outline-none transition-all shadow-sm appearance-none">
          <option value="" disabled selected>Seleccione un tipo</option>
          <option value="I">Ingreso</option>
          <option value="G">Gasto</option>
          <option value="A">Ahorro</option>
        </select>
        <label for="tipo"
          class="absolute text-gray-600 left-3 -top-2.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2.5 peer-focus:-top-2.5 peer-focus:text-sm peer-focus:text-gray-600">
          Tipo
        </label>
      </div>

      <div class="relative">
        <select id="img" formControlName="img" required
          class="peer border border-gray-300 rounded-lg px-3 py-2 w-full focus:ring focus:ring-gray-200 focus:outline-none transition-all shadow-sm appearance-none">
          <option value="" disabled selected>Seleccione un icono</option>
          <option value="faWallet">faWallet</option>
          <option value="faPenToSquare">faPenToSquare</option>
        </select>
        <label for="img"
          class="absolute text-gray-600 left-3 -top-2.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2.5 peer-focus:-top-2.5 peer-focus:text-sm peer-focus:text-gray-600">
          Icono
        </label>
      </div>

      <div class="flex justify-end mt-8">
        <button type="submit" (click)="onSubmit()"
          class="bg-gray-800 text-white px-6 py-2 rounded-lg hover:bg-gray-600 transition-all shadow">
          Guardar
        </button>
        <button type="button" (click)="cancelar()"
          class="ml-4 bg-gray-600 text-white px-6 py-2 rounded-lg hover:bg-gray-500 transition-all shadow">
          Cancelar
        </button>
      </div>
    </form>

  </div>
</div>
