<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">{{ data.TituloAsigna }}</h1>
  <div class="grid md:grid-cols-2 gap-6">

    <!-- Tarjeta Visual -->
    <div>
      <div
        class="h-1/2 flex flex-col justify-between border rounded-lg shadow-sm p-6 bg-gradient-to-r from-blue-400 to-blue-600 text-white">
        <div class="mb-4">
          <h2 class="text-xl font-semibold">{{ tarjetaForm.value.banco_tarjeta || 'BANCO' }}</h2>
        </div>
        <div class="mb-4">
          <p class="font-mono text-lg">{{ tarjetaForm.value.numero_tarjeta || '**** **** **** ****' }}</p>
        </div>
        <div class="flex justify-between">
          <div>
            <p class="text-xs">DESCRIPCION</p>
            <p>{{ tarjetaForm.value.nombre || 'DESCRIPCION DE LA CUENTA' }}</p>
          </div>
          <div>
            <p class="text-xs">FECHA CORTE</p>
            <p>{{ tarjetaForm.value.fecha_corte || 'MM/AA' }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Formulario de Registro -->
    <form [formGroup]="tarjetaForm" class="space-y-5 pr-6 pl-6 rounded-lg">
      <div class="relative">
        <input id="nombre" formControlName="nombre" type="text" placeholder=" " required
          class="peer border border-gray-300 rounded-lg px-3 py-2 w-full focus:ring focus:ring-gray-200 focus:outline-none transition-all shadow-sm" />
        <label for="nombre"
          class="absolute text-gray-600 left-3 -top-2.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2.5 peer-focus:-top-2.5 peer-focus:text-sm peer-focus:text-gray-600">
          Descripción de Tarjeta
        </label>
      </div>

      <div class="relative">
        <input id="banco_tarjeta" formControlName="banco_tarjeta" type="text" placeholder=" " required
          class="peer border border-gray-300 rounded-lg px-3 py-2 w-full focus:ring focus:ring-gray-200 focus:outline-none transition-all shadow-sm" />
        <label for="banco_tarjeta"
          class="absolute text-gray-600 left-3 -top-2.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2.5 peer-focus:-top-2.5 peer-focus:text-sm peer-focus:text-gray-600">
          Banco
        </label>
      </div>

      <div class="relative">
        <input id="numero_tarjeta" formControlName="numero_tarjeta" type="text" maxlength="16" placeholder=" " required
          class="peer border border-gray-300 rounded-lg px-3 py-2 w-full focus:ring focus:ring-gray-200 focus:outline-none transition-all shadow-sm" />
        <label for="numero_tarjeta"
          class="absolute text-gray-600 left-3 -top-2.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2.5 peer-focus:-top-2.5 peer-focus:text-sm peer-focus:text-gray-600">
          Número de Tarjeta
        </label>
      </div>

      <div class="relative">
        <input id="limite_credito" formControlName="limite_credito" type="number" placeholder=" " required
          class="peer border border-gray-300 rounded-lg px-3 py-2 w-full focus:ring focus:ring-gray-200 focus:outline-none transition-all shadow-sm" />
        <label for="limite_credito"
          class="absolute text-gray-600 left-3 -top-2.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2.5 peer-focus:-top-2.5 peer-focus:text-sm peer-focus:text-gray-600">
          Límite de Crédito
        </label>
      </div>

      <div class="relative">
        <input id="credito_utilizado" formControlName="credito_utilizado" type="number" placeholder=" " required
          class="peer border border-gray-300 rounded-lg px-3 py-2 w-full focus:ring focus:ring-gray-200 focus:outline-none transition-all shadow-sm" />
        <label for="credito_utilizado"
          class="absolute text-gray-600 left-3 -top-2.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2.5 peer-focus:-top-2.5 peer-focus:text-sm peer-focus:text-gray-600">
          Crédito Utilizado
        </label>
      </div>

      <div class="relative">
        <input id="fecha_corte" formControlName="fecha_corte" type="date" placeholder=" " required
          class="peer border border-gray-300 rounded-lg px-3 py-2 w-full focus:ring focus:ring-gray-200 focus:outline-none transition-all shadow-sm" />
        <label for="fecha_corte"
          class="absolute text-gray-600 left-3 -top-2.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2.5 peer-focus:-top-2.5 peer-focus:text-sm peer-focus:text-gray-600">
          Fecha de Corte
        </label>
      </div>

      <div class="relative">
        <input id="fecha_pago" formControlName="fecha_pago" type="date" placeholder=" " required
          class="peer border border-gray-300 rounded-lg px-3 py-2 w-full focus:ring focus:ring-gray-200 focus:outline-none transition-all shadow-sm" />
        <label for="fecha_pago"
          class="absolute text-gray-600 left-3 -top-2.5 text-sm transition-all peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2.5 peer-focus:-top-2.5 peer-focus:text-sm peer-focus:text-gray-600">
          Fecha de Pago
        </label>
      </div>

      <div class="flex justify-between mt-8">
        <button (click)="onSubmit()"
          class="bg-gray-800 text-white px-6 py-2 rounded-lg hover:bg-gray-600 transition-all shadow">Guardar</button>
        <button (click)="cancelar()"
          class="bg-gray-600 text-white px-6 py-2 rounded-lg hover:bg-gray-500 transition-all shadow">Cerrar</button>
      </div>
    </form>

  </div>
</div>
