<div class="p-8 bg-gray-50 min-h-screen">
  <div class="flex justify-between items-center p-4">
    <h2 class="text-2xl font-bold text-gray-700">Ingresos</h2>
    <button (click)="nuevaCategoria()"
      class="bg-gray-800 text-white px-5 py-2 rounded-lg hover:bg-gray-700 transition-all flex items-center shadow">
      <span class="mr-2">+</span> Agregar Ingreso
    </button>
  </div>

  <div class="p-4">
    <div class="flex justify-between items-center mb-4">
      <div class="w-[220px]">
        <label class="block text-sm font-medium text-gray-600">Seleccionar rango</label>
        <input type="text"
          class="mt-1 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 focus:outline-none focus:ring focus:ring-gray-200 rounded-md shadow-sm transition-all"
          ngxDaterangepickerMd [(ngModel)]="selectedRange" (change)="onDateRangeChange($event)"
          [locale]="{ format: 'DD/MM/YYYY' }" placeholder="Seleccionar rango de fechas" />
      </div>
    </div>

    <div class="flex justify-between items-center mb-4">
      <div class="flex items-center space-x-2">
        <input [(ngModel)]="busqueda" placeholder="Buscar ingresos..."
          class="px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-gray-200 max-w-sm transition-all" />
      </div>
      <div class="text-sm font-medium text-gray-600">
        Total de ingresos: {{ totalIngresos | currency:'USD':'symbol':'1.2-2' }}
      </div>
    </div>

    <table class="min-w-full table-auto bg-white rounded-lg shadow-md">
      <thead>
        <tr class="bg-gray-100">
          <th class="px-4 py-2 text-center text-gray-600">ID</th>
          <th class="px-4 py-2 text-center text-gray-600">Monto</th>
          <th class="px-4 py-2 text-center text-gray-600">Fecha</th>
          <th class="px-4 py-2 text-center text-gray-600">Descripción</th>
          <th class="px-4 py-2 text-center text-gray-600">Categoría</th>
          <th class="px-4 py-2 text-center text-gray-600">Método</th>
          <th class="px-4 py-2 text-center text-gray-600">Eliminar</th>
          <th class="px-4 py-2 text-center text-gray-600">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingreso of ingresosEnPagina; trackBy: trackById">
          <td class="px-4 py-2 text-center border-t border-gray-200">{{ ingreso.ingreso_id }}</td>
          <td class="px-4 py-2 text-center border-t border-gray-200">{{ ingreso.monto_ingreso |
            currency:'USD':'symbol':'1.2-2' }}</td>
          <td class="px-4 py-2 text-center border-t border-gray-200">{{ ingreso.fecha_ingreso | date }}</td>
          <td class="px-4 py-2 text-center border-t border-gray-200">{{ ingreso.descripcion_ingreso }}</td>
          <td class="px-4 py-2 text-center border-t border-gray-200">
            <span class="bg-gray-300 rounded-full px-2 py-1 text-xs font-bold">{{
              ingreso.categoria.descripcion }}</span>
          </td>
          <td class="px-4 py-2 text-center border-t border-gray-200">
            <ng-container *ngIf="ingreso.transferencia">
              <fa-icon [icon]="faCreditCard" class="h-4 w-4 text-blue-500"></fa-icon>
            </ng-container>
            <ng-template #efectivo>
              <fa-icon [icon]="faMoneyBill1" class="h-4 w-4 text-green-500"></fa-icon>
            </ng-template>
          </td>
          <td class="px-4 py-2 text-center border-t border-gray-200">
            <button class="bg-gray-100 px-3 py-1 rounded-lg transition-all hover:bg-gray-200">
              <fa-icon [icon]="faTrash" class="text-sm"></fa-icon>
            </button>
          </td>
          <td class="px-4 py-2 text-center border-t border-gray-200">
            <button class="bg-gray-100 px-3 py-1 rounded-lg transition-all hover:bg-gray-200">
              <fa-icon [icon]="faPenToSquare" class="text-sm"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="flex justify-between items-center mt-4">
      <div class="text-sm text-gray-500">
        Mostrando {{ ingresosEnPagina.length }} de {{ ingresosFiltrados.length }} ingresos
      </div>
      <div class="space-x-2">
        <!-- <button class="bg-gray-300 px-4 py-2 rounded-lg hover:bg-gray-400 transition-all">Anterior</button>
        <button class="bg-gray-300 px-4 py-2 rounded-lg hover:bg-gray-400 transition-all">Siguiente</button> -->
      </div>
    </div>
  </div>
</div>
